body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

p {
  font-size: large;
  font-weight: 550;
}
button {
  padding: 6px;
  margin: 10px;
  font-size: inherit;
  border-radius: 4px;
  background: #dfdfda;
}

.content{
  justify-content: center;
  align-items: center;
  display: flex;
}

.container{
  border: 1px solid;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1cm;
  border-radius: 10px;
  background: #c5bfba;
}